<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409527564466-4pa8vlr2hba86jbb1qtf52r7qrbf9oj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409527564466-4pa8vlr2hba86jbb1qtf52r7qrbf9oj3</string>
	<key>API_KEY</key>
	<string>AIzaSyADowQ4vtfJTDyHXdtrzvLpKGyTa1p9vBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>409527564466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sookim.UberCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>uberswiftuitutorial-5fd91</string>
	<key>STORAGE_BUCKET</key>
	<string>uberswiftuitutorial-5fd91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409527564466:ios:c682f312aac6fce3b4f1ab</string>
</dict>
</plist>